spring:
  application:
    name: alojamientos
  datasource:
    url: jdbc:mariadb://localhost:3306/alojamientos_dev
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update   # Temporal en dev; luego 'none' con Flyway
    properties:
      hibernate:
        format_sql: true
  mvc:
    problemdetails:
      enabled: true

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    enabled: true

cors:
  allowed-origins: http://localhost:4200
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allowed-headers: "*"

---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:mariadb://localhost:3306/alojamientos_test
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mariadb://mariadb:3306/alojamientos
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: none
